.NavigationMenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 64px);
    background:  url("../../assets/background.jpg") no-repeat
    center center fixed;
  }
.Slogan{
  position:absolute;
  background-color: #574941;
  text-align: center;
  min-width: 50%;
  border-radius: 10px;
  top:20%
}
  