
#huhuhu{
  padding-left: 280px;
}

.space2 {
  text-align: center;
  
}

a {
  text-decoration: none;
  color: black;
}
button a {
  color: white;
}
button a:hover {
  color: white;
}

.imag{
  border-radius: 4px;
}

#card{
  position: absolute;
  top: 450px;
  left: 150px;
}
#row {
  padding-left: 20px;
}
.COL {
  color:black;
  padding: 20px;
}
#pad {
  padding-left: 95px;
}
.hihi {
  color: black;
  font-size: 1.8vw;
}

.button-phuoc {
    border: 1px orange;
}

.ahuhu{
  padding-top: 50px;
}
#huhu{
  width: 100px;
  height: 150px;
}
.mai{
  height: 100%;
  /* object-fit: contain;  */
  display: flex;
  align-items: center;
  justify-content: center;
}
#maiz{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1280px ) {
  .ko{
    width: 35%;
  }
  .koo{
    font-size: 80px;
  }
}
@media only screen and (max-width: 770px ) {
  .ko{
    width: 65%;
  }
  .koo{
    font-size: 50px;
  }
}
@media only screen and (min-width: 1360px ) {
  .ko{
    width: 35%;
  }
  .koo{
    font-size: 50px;
  }
}

@media all and (max-width: 500px) {
  .themain{
    width:
      90%
    ;
    padding-left: 18px;
  }
    .mai{
      width: 0%;
    }
    .imag{
      width: 25px;
    }
    .hihi{
      font-size: 23px;
     
    }
   
  }

 