@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    
}

body {
    background-color: #FFFAF7;
}

.navbar-header {
    background-color: #FFFAF7 !important;
    font-size: 20px;
    color: black;
    z-index: 10;
    width: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    color: black
}

.navbar-light .navbar-brand {
    font-size: 25px;
}

.header-icon {
  margin-top: -3px;
  font-size: 15px;
  margin-right: 2px;
}

.footer {
  background-color: #FBF9F0;
  clear: both;
}

.footer-header {
  font-size: 15px;
  color: lightslategray;
  font-weight: bold;
}
  
.footer-content {
  color: lightslategray;
  font-size: 15px;
}

