:root {
  --bg-cl-menu: rgb(252, 251, 251);
}

* {
  font-family: "Roboto", sans-serif;
}

.c-white {
  color: #fff;
}
body {
  z-index: -100;
}
.header {
  margin-top: 10px;
  background-color: var(--white);

  top: 0;
  width: 100%;
  height: 80px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  z-index: 200;
}
.header__item {
  display: flex;

  align-items: center;
  font-size: 1.2rem;
  flex: 1 1;
}
.header__item:nth-child(3) {
  justify-content: flex-end;
}
.header__title {
  margin: auto;
  margin-left: 20px;
}
.header__logo {
  width: 35px;
  height: 35px;
}
.icon-bag {
  font-size: 1rem;
}
.header_avartar {
  display: flex;
  align-items: center;
}
.header__avar_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
}
.header__avar_name {
  font-weight: bold;
  margin-left: 10px;
  color: rgb(107, 107, 107);
  font-size: 1rem;
}
.header__cart {
  color: rgb(247, 164, 96);
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  background-color: rgb(254, 245, 218);
  text-align: center;
  border-radius: 10px;
}
.header__input {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: var(--bg-cl-menu);
  width: 100%;
  color: rgb(241, 231, 231);
}
.header__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(196, 194, 194);
  font-size: 1rem;
}
.header__iconsearch {
  color: rgb(248, 187, 21);
}
.header__form {
  display: flex;
  width: 100%;
  align-items: center;
  height: 45px;

  border-radius: 10px;

  background-color: var(--bg-cl-menu);
  padding: 0 20px;
}

.header__cart__span {
  position: absolute;
  color: white;
  background-color: rgb(10, 175, 96);
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 7px;
  z-index: 10;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  right: -5px;
  top: -7px;
}

/* category */
.list-control {
  height: 150px;
}
.list__category {
  display: flex;

  height: 150px;

  align-items: center;
  overflow: auto;
  white-space: nowrap;
}
.category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  height: 130px;
  width: 105px;
  border: 2px solid rgba(236, 235, 235, 0.692);
  border-radius: 30px;
  background-color: rgb(253, 253, 253);
  min-width: 105px;
}
.category__item:hover {
  background-color: rgba(249, 255, 252, 0.575);
}
.category__item__img {
  width: 25px;
  height: 25px;
  margin-top: 35%;
}
.category__item__name {
  padding-top: 25px;
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 100%;
}
.active-item-cate {
  border: 2px solid rgba(31, 185, 95, 0.575);
  background-color: rgba(249, 255, 252, 0.575);
}
.arrows {
  position: absolute;
  z-index: 100;
  font-size: 1.3rem;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.089);
  color: rgba(46, 45, 45, 0.267);
  background-color: rgba(206, 200, 200, 0.377);
  cursor: pointer;
}
.arrows:hover {
  background-color: rgba(243, 241, 241, 0.911);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.438);
  color: rgb(104, 102, 102);
}
.arrowLeft {
  left: 20px;
  top: 40%;
}
.arrowRight {
  right: 20px;
  top: 40%;
}

/* view menu */

.menu {
}
.title-menu {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
}
.list-menu {
  display: flex;
  align-items: center;
}

.menu__item {
}
.menu__item__img {
  text-align: center;
}
.menu__item__img img {
  width: 100%;

  border-radius: 5px 5px 0 0;
}
.btn-addcart {
  background-color: rgb(252, 203, 69);
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn-addcart:hover {
  background-color: rgb(250, 214, 117);
}
.page-link{
  background-color: rgb(254, 245, 218);
  color:black;
  
}
.menu-pagination{
 
  width: 400px;
  margin:auto;
  padding:20px;
  margin-top:30px;
}
 
.menu__item__title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 20px 0 5px;
  background-color: rgb(254, 245, 218);
}

.menu__item__name {
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.menu__item__price {
}
.menu__item__infor {
  color: rgb(190, 189, 189);
  display: flex;
  align-items: center;
  background-color: rgb(254, 245, 218);
}
.infor-rate {
  font-weight: bold;
  color: rgb(71, 71, 71);
}
.icon-rate {
  color: rgb(190, 189, 189);
}
.icon-circle {
  font-size: 0.2rem;
}
/* cart */
.cart {
  position: fixed;
  display: block;
  top: 0;
  right: -500px;
  width: 400px;
  bottom: 0;
  background-color: var(--white);
  z-index: 400;
  overflow: auto;
  transition: all .5s linear;
  box-shadow: -5px 0 40px -5px rgba(131, 129, 129, 0.651);
}
.cart-active{ 
  
  right: 0;
}
.header-cart {
  display:flex;
  margin-top: 10px;
  background-color: var(--white);
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
   
   
}
.cart__list {
  height: 300px;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 3px solid rgb(240, 238, 238);
   
}
.cart__list::-webkit-scrollbar {
  display: inline-block;
}
.cart__list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cart__list::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.cart__list::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-top:3px;
  font-weight: bold;
  background-color: var(--bg-cl-menu);
}
.cart__item__img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.cart__item__quatity {
  text-align: center;
  display: flex;
}
.cart__item__price {
  color: rgb(36, 35, 35);
}
.cart__item__name{
  color:rgb(73, 72, 72);
  font-weight: none;
}
.cart__item__remove {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(231, 228, 228);
  border-radius: 50%;
  cursor: pointer;
}
.count-up {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(221, 218, 218);
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(248, 236, 236);
}
.number-count {
  color: red;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.count-down {
  background-color: rgb(248, 236, 236);
  width: 25px;
  height: 25px;
  border: 1px solid rgb(221, 218, 218);
  cursor: pointer;
  border-radius: 5px;
}
.count-down:hover,
.count-up:hover,
.cart__item__remove:hover {
  background-color: rgb(219, 212, 212);
}
.cart-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  line-height: 50px;
}
.sum-price{
  margin-right: 50px;
  font-weight: bold;
}
.title-sum-price{
  padding-left: 10px;
}
.btn-order{
  height: 50px;
  background-color: rgb(10, 175, 96);
  text-align: center;
  line-height: 50px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  color:white;
  
}
.table-number{
  width: 100px;
  height: 40px;
  background-color: tomato;
 border-radius: 5px;
 margin-left: 12px;
 text-align: center;
 line-height: 40px;
 color:white
}
.footer {
  height: 500px;
}
