<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../static/vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="./../static/css/style.css">
        <link rel="stylesheet" href="./../static/css/cart.css">
        <link rel="stylesheet" href="./../static/css/type.css">
        <title>Cart</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
    </head>

<body>
        <div class="header d-flex row">
            <div class="header__item logo col-2 col-sm-1">
                <img src="../static/image/hcmut.png" alt="logo" class="header__logo">
            </div>
            <div class="header__item  col-8 col-sm-10">
                <h2 class="header__title">FOODSTORE</h2>
            </div>
            <div class="header__item header_customer col-2 col-sm-1">
                <div class="header__cart"><span id="num_cart" class="header__cart__span">0</span><i class="fas fa-cart-plus"></i> </div>
            </div>
        </div>

        <div class="main__cart">
            <div class="cart__contain__header">
                Giỏ Hàng Của Bạn
            </div>
            <div class="cart__contain">
                <div class="row justify-content-around">
                    <div class="all_cart col-11 col-sm-7 col-lg-6">
                        <div class="cart__title">
                            Các món đã chọn
                        </div>

                        <div id="cart_list" class="cart__list "></div>
                        <div class="cart__item__sum ">
                            <div class="cart__item__name ">
                                Tổng :
                            </div>
                            <div><span id="sum_bill" class="cart__item__price">0</span> VNĐ</div>
                        </div>
                    </div>
                    <div class="cart_feedback col-11 col-sm-5 col-lg-4" >
                        <div class="cart__title">
                            Thông tin khách hàng
                        </div>
                        <div class="infor__box bg-light">
                            <div class="infor__number_table">
                                Bàn số 10
                            </div>
                            <div class="container input-group flex-nowrap my-2">
                                <span class="input-group-text bg-info" id="addon-wrapping">Tên khách hàng</span>
                                <input type="text" class="form-control " aria-label="Username"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <div class="container input-group flex-nowrap">
                                <span class="input-group-text bg-info " id="addon-wrapping ">Số điện thoại</span>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <div class="container mt-2">
                                <label for="exampleFormControlTextarea1" class="form-label"> Đánh giá </label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                            </div>
                            <div class="cart__payment">
                                Thanh Toán
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>  
    
</body>


<body>
    <div id="menu" class="container border">
        <div id="menu__title">Menu</div>

        <hr class="horizontal-line"></hr>

        <div class="container-fluid type border border-2 row justify-content-around ">
            <div id="type-list" class='col-12 col-sm-8 border my-2 d-flex flex-wrap align-content-around justify-content-around bg-light'>
            </div>

            <div class="col-10 col-sm-4">
                <div class="header__form" style="background-color: white;">
                    <i class="fas fa-search header__iconsearch"></i>
                    <input type="text" placeholder="Search" class="header__input" id="filter__food-name">
                </div>
            </div>
        </div>

        <hr class="horizontal-line"></hr>

        <div id="menu-list" class="col-12 row justify-content-center justify-content-around" style="margin: auto;"></div>
    </div>

    

    <script src="./../static/vendor/js/jquery-3.6.0.min.js "></script>
    <script src="./../static/vendor/js/popper.min.js "></script>
    <!-----<script src="../static/vendor/js/bootstrap.bundle.min.js"></script> -->
    
    <script src="./../static/vendor/js/bootstrap.min.js "></script>
    <script src="./../static/vendor/js/fontawesome.min.js "></script>
    <script src="../static/js/main.js"></script>

    <script src="../static/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="../static//vendor/js/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/6d59c61c57.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $(".header__cart").click(function(){
                $(".main__cart").slideToggle("slow")
                $("#menu").slideToggle("slow")
            })
            $("#filter__food-name").on('input', function() {
                var food_Name = this.value.toLowerCase()
                $(".menu__item-name").each(function() {
                    if ($(this).text().toLowerCase().includes(food_Name)) {
                        $(this).closest('.menu__item').removeClass('hiddenOrderWhenFilterName');
                    } else {
                        $(this).closest('.menu__item').addClass('hiddenOrderWhenFilterName');
                    }
                })
            })
        })
        
   </script>
</body>

</html>