<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/vendor/js/jquery-3.6.0.min.js"></script>
    <script src="../static/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/js/fontawesome.min.js"></script>
    <title>ORDER FOOD</title>
</head>

<body class="px-md-5 px-2">
    <div class="header">
        <div class="header__item  ">
            <img src="../static/image/hcmut.png" alt="logo" class="header__logo">
            <h4 class="header__title">Bách khoa</h4>
        </div>
        <div class="header__item d-none d-md-block">
            <form action="" class="header__form">


                <input type="text" placeholder="Search" class="header__input" />
                <i class="fas fa-search header__iconsearch"></i>
            </form>
        </div>
        <div class="header__item">

            <div class="header__cart"><span class="header__cart__span">3</span><i
                    class="fas fa-shopping-bag icon-bag"></i> </div>
            <div class="header_avartar">
                <img src="../static/image/avar.jpg" alt="" class="header__avar_img">
                <div class="header__avar_name">
                    My name
                </div>
            </div>
        </div>

    </div>

    <div class="list-control mt-2">
        <div class="arrows arrowLeft d-none  "><i class="fas fa-chevron-left"></i></div>
        <div class="list__category  h-100">

            <div class="category__item">
                <img src="../static/image/cake.jpg" alt="cake" class="category__item__img">
                <div class="category__item__name">All </div>
            </div>
            <div class="category__item active-item-cate">
                <img src="../static/image/pepsi.jpg" alt="cake" class="category__item__img">
                <div class="category__item__name">Pizza</div>
            </div>
            <div class="category__item">
                <img src="../static/image/cake.jpg" alt="cake" class="category__item__img">
                <div class="category__item__name">Shusi</div>
            </div>
            <div class="category__item">
                <img src="../static/image/cake.jpg" alt="cake" class="category__item__img">
                <div class="category__item__name">Pasta</div>
            </div>
            <div class="category__item">
                <img src="../static/image/orange-juice.png" alt="cake" class="category__item__img">
                <div class="category__item__name">Meat</div>
            </div>
            <div class="category__item">
                <img src="../static/image/hamburger-1.jpg" alt="cake" class="category__item__img">
                <div class="category__item__name"> fruits</div>
            </div>
            
        </div>
        <div class="arrows arrowRight  d-none  "><i class="fas fa-chevron-right"></i></div>

    </div>
    <div class="menu">
        <div class="title-menu">    
            Pizza
        </div>
        <div class="list-menu row">
            <div class=" menu__item col-lg-3 col-sm-4 col-6 mt-4">
                <div class=" menu__item__img">
                    <img src="../static/image/hamburger-1.jpg" alt="hamburger">
                </div>
                 <div class="menu__item__title">
                    <div class=" menu__item__name">
                        Hamburger China
                   </div>
                   <div class=" menu__item__price">
                    $15
               </div>
                 </div>
                <div class=" menu__item__infor">
                    
                    <div class="infor-rate p-1"><i class="fas fa-star icon-rate"></i>4.0</div>
                    <i class="fas fa-circle icon-circle p-1"></i>
                    <div class="infor-type p-1">Burger</div>
                </div>
                <div class="btn-addcart">
                    Thêm vào giỏ
                </div>
             </div>
             <div class=" menu__item col-lg-3 col-sm-4 col-6 mt-4">
                <div class=" menu__item__img">
                    <img src="../static/image/orange-juice.png" alt="hamburger">
                </div>
                 <div class="menu__item__title">
                    <div class=" menu__item__name">
                        Hamburger China
                   </div>
                   <div class=" menu__item__price">
                    $15
               </div>
                 </div>
                <div class=" menu__item__infor">
                    
                    <div class="infor-rate p-1"><i class="fas fa-star icon-rate"></i>4.0</div>
                    <i class="fas fa-circle icon-circle p-1"></i>
                    <div class="infor-type p-1">Burger</div>
                </div>
                <div class="btn-addcart">
                    Thêm vào giỏ
                </div>
             </div>
             <div class=" menu__item col-lg-3 col-sm-4 col-6 mt-4">
                <div class=" menu__item__img">
                    <img src="../static/image/pepsi.jpg" alt="hamburger">
                </div>
                 <div class="menu__item__title">
                    <div class=" menu__item__name">
                        Hamburger China
                   </div>
                   <div class=" menu__item__price">
                    $15
               </div>
                 </div>
                <div class=" menu__item__infor">
                    
                    <div class="infor-rate p-1"><i class="fas fa-star icon-rate"></i>4.0</div>
                    <i class="fas fa-circle icon-circle p-1"></i>
                    <div class="infor-type p-1">Burger</div>
                </div>
                <div class="btn-addcart">
                    Thêm vào giỏ
                </div>
             </div>
             <div class=" menu__item col-lg-3 col-sm-4 col-6 mt-4">
                <div class=" menu__item__img">
                    <img src="../static/image/cake.jpg" alt="hamburger">
                </div>
                 <div class="menu__item__title">
                    <div class=" menu__item__name">
                        Hamburger China
                   </div>
                   <div class=" menu__item__price">
                    $15
               </div>
                 </div>
                <div class=" menu__item__infor">
                    
                    <div class="infor-rate p-1"><i class="fas fa-star icon-rate"></i>4.0</div>
                    <i class="fas fa-circle icon-circle p-1"></i>
                    <div class="infor-type p-1">Burger</div>
                </div>
                <div class="btn-addcart">
                    Thêm vào giỏ
                </div>
             </div>
             <div class=" menu__item col-lg-3 col-sm-4 col-6 mt-4">
                <div class=" menu__item__img">
                    <img src="../static/image/hamburger-1.jpg" alt="hamburger">
                </div>
                 <div class="menu__item__title">
                    <div class=" menu__item__name">
                        Hamburger China
                   </div>
                   <div class=" menu__item__price">
                    $15
               </div>
                 </div>
                <div class=" menu__item__infor">
                    
                    <div class="infor-rate p-1"><i class="fas fa-star icon-rate"></i>4.0</div>
                    <i class="fas fa-circle icon-circle p-1"></i>
                    <div class="infor-type p-1">Burger</div>
                </div>
                <div class="btn-addcart">
                    Thêm vào giỏ
                </div>
             </div>
        </div>
        <div class="menu-pagination">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
        </div>
    </div>
    <div class="   cart ps-4 pe-1 " >
        <div class="header-cart px-md-5 px-2">
             
             
        
                <div class="header__cart"><span class="header__cart__span">3</span><i
                        class="fas fa-shopping-bag icon-bag"></i> </div>
                <div class="header_avartar">
                    <img src="../static/image/avar.jpg" alt="" class="header__avar_img">
                    <div class="header__avar_name">
                        My name
                    </div>
                </div>
             
        </div>
        <div class="infor-cart">
            <h5 class="px-2 fw-bold ">Thông tin</h5>
            <div class="table-number ">Bàn 20</div>
            <div class="container input-group flex-nowrap my-2">
                <span class="input-group-text bg-info" id="addon-wrapping">Tên khách hàng</span>
                <input type="text" class="form-control " aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
            <div class="container input-group flex-nowrap">
                <span class="input-group-text bg-info " id="addon-wrapping ">Số điện thoại</span>
                <input type="text" class="form-control" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="view-cart">
            <h5 class="px-2 pt-4 fw-bold ">Giỏ hàng</h5>
            <div class="cart__list ">
                        
                <div class="cart__item">
                    <img src="../static/image/cake.jpg" alt="" class="cart__item__img">
                    <h5 class="cart__item__name">
                        cake
                    </h5>
                     
                    <div class="cart__item__quatity   d-flex">
                        <div class="count-down">-</div>
                        <div class="number-count">3</div>
                        <div class="count-up">+</div>
                    </div>
                    <div class="cart__item__price">
                        90.000
                    </div>
                    <div class="cart__item__remove"><i class="fas fa-trash-alt"></i></div>
                </div>
                <div class="cart__item">
                    <img src="../static/image/hamburger-1.jpg" alt="" class="cart__item__img">
                    <h5 class="cart__item__name">
                        cake
                    </h5>
                     
                    <div class="cart__item__quatity   d-flex">
                        <div class="count-down">-</div>
                        <div class="number-count">3</div>
                        <div class="count-up">+</div>
                    </div>
                    <div class="cart__item__price">
                        90.000
                    </div>
                    <div class="cart__item__remove"><i class="fas fa-trash-alt"></i></div>
                </div>
                <div class="cart__item">
                    <img src="../static/image/orange-juice.png" alt="" class="cart__item__img">
                    <h5 class="cart__item__name">
                        cake
                    </h5>
                     
                    <div class="cart__item__quatity   d-flex">
                        <div class="count-down">-</div>
                        <div class="number-count">3</div>
                        <div class="count-up">+</div>
                    </div>
                    <div class="cart__item__price">
                        90.000
                    </div>
                    <div class="cart__item__remove"><i class="fas fa-trash-alt"></i></div>
                </div>
                <div class="cart__item">
                    <img src="../static/image/pepsi.jpg" alt="" class="cart__item__img">
                    <h5 class="cart__item__name">
                        cake
                    </h5>
                     
                    <div class="cart__item__quatity   d-flex">
                        <div class="count-down">-</div>
                        <div class="number-count">3</div>
                        <div class="count-up">+</div>
                    </div>
                    <div class="cart__item__price">
                        90.000
                    </div>
                    <div class="cart__item__remove"><i class="fas fa-trash-alt"></i></div>
                </div>
                 
            </div>
            <div class="cart-total">
                <div class="title-sum-price">Tổng</div>
                <div class="sum-price">1.100.00 đ</div>
            </div>
            <div class="btn-order">
                Đặt món
            </div>
        </div>
    </div>

    <div class="footer">

    </div>
    <script>
        $(document).ready(function () {
            $(".header__cart").click(function(){
                $(".cart").toggleClass("cart-active")
            })
            var length = $('.category__item').length
           
            if(length>10){
                
                $(".list-control").hover(function () {
                $(".arrowLeft, .arrowRight").addClass("d-md-block")

            }, function () {
                $(".arrowLeft, .arrowRight").removeClass("d-md-block") 

            })
            }
            else{
                 
            }
             

            $(".arrowLeft").click(function () {
                var e = $('.list__category')
                var scrollLength = 100
                e.scrollLeft(e.scrollLeft() - scrollLength)
                if (e.scrollLeft() == 0) {
                    $('.category__item').last().insertBefore($('.category__item').first())
                    e.scrollLeft(e.scrollLeft() - scrollLength)
                }
            })


            $(".arrowRight").click(function () {
                var e = $('.list__category')
                var scrollLength = 100
                let temp = e.scrollLeft()
                e.animate({ scrollLeft: e.scrollLeft() + scrollLength }, "slow")
                if (e.scrollLeft() == temp) {
                    $('.category__item').first().insertAfter($('.category__item').last())
                    e.scrollLeft(e.scrollLeft() + scrollLength)
                }
            })
        })
    </script>
</body>

</html>