.meals {
  margin-top: -25px !important;
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemImage {
  max-width: 100%;
  border-radius: 15px;
}

.category p {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #9b6b57;
  text-shadow: 0 1px 18px 10px rgba(187, 52, 52, 0.25);
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #adefd1;
  margin: 1rem 5rem;
  padding: 2rem 0rem;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App > h1 {
  color: white;
  font-size: 48px;
  margin: 0.7rem 0rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 0rem 3rem;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #00203f;
  border-radius: 10px;
}

.card-container > img {
  width: 95%;
  margin-top: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.card-container > img:hover {
  transform: scale(1.06);
}

.card-details {
  color: white;
}

.card-details > h2 {
  font-size: 18px;
  margin: 0.7rem 0rem;
}

.card-details > p {
  font-size: 12px;
  margin-bottom: 0.7rem;
}

.all-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 15rem;
}

.button-container > button {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 32, 63, 40%);
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.button-container > button:hover {
  background-color: rgba(0, 32, 63, 80%);
}

@media only screen and (max-width: 1045px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-details > h2 {
    font-size: 24px;
  }
  .card-details > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .all-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  .card-details > h2 {
    font-size: 36px;
  }
  .card-details > p {
    font-size: 18px;
  }
}

.menuButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.singleButton {
  /* cursor: pointer; */
  font: inherit;
  border: none;
  background-color: #FFFAF7;
  color: #9b6b57;
  /* align-items: center; */
  border-radius: 0px;
  margin-top: 15px;
  width: 150px;
  height: 40px;
  text-align: center;
  justify-content: space-between;
  font-weight: bold;
}

.singleButton:hover,
.singleButton:active {
  color: white;
  background-color: #9b6b57;
}

.searchBar {
  /* margin: auto; */
  margin-top: 5rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  /* background-color: #FBF9F0; */
}


.searchBar label {

  /* margin: auto; */
  /* align-items: right; */
  text-align: center;
  font-weight: bold;
  /* margin-right: 1rem; */
  padding: 0.5rem;
  /* font-family: 'Courier New', Courier, monospace; */

}

.searchBar input {
  /* margin: auto; */
  text-align: left;
  width: 90%;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  background-color: #cccccc69;
}
.text p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: larger;
  /* font-family: 'Courier New', Courier, monospace; */
}