.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #aa8b76;
  padding: 0.5rem 2rem !important;
  border-radius: 25px;
  margin-left: 1rem;
  width: 220px;
  margin-top: 2px !important;
  text-transform: none !important;
}

.actions button:hover,
.actions button:active {
  background-color: #574941;
  border-color: #574941;
  color: white;
}

.actions .button--alt {
  color: #aa8b76;
}

.actions .button {
  background-color: #aa8b76;
  color: white;
}
